HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
#build/
#!**/src/main/**/build/
#!**/src/test/**/build/

### VS Code ###
.vscode/



#All build without .build
*build/

#All jar, without module2.jar
*.jar
!module2.jar

#application-local.properties
application-local.properties

#folder .idea
.idea/

#folder .idea_copy, without workspace.xml —
.idea_copy/
!.idea_copy/workspace.xml
